header {
    padding: 3.5rem 0 1.55rem;
    text-align: center;
    .header-container {
        background: url(/assets/images/pattern-circles.svg) no-repeat;
        background-position: center;
        padding: 2rem 0;
        h1 {
            font-size: 1.25rem;
        }
        .description {
            margin: .5rem 0;
            .credit-card {
                display: block;
            }
        }
    }
}